[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        unstage = reset HEAD --
        last = log -1 HEAD
	newbranch = "!f() { git checkout -b michaelmwu/$1; }; f"
[user]
        name = Michael Wu
        email = michaelmwu@gmail.com
[core]
        editor = nano
        excludesfile = /Users/michaelwu/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[help]
	autocorrect = 15
[push]
	autoSetupRemote = true
